* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d0d0d;
}
nav {
  display: flex;
  justify-content: space-between;
}
#botao1 {
  background-color: #14ff00;
  color: black;
}
.linksHeader :hover {
  background-color: beige;
}
img {
  display: flex;
  justify-content: space-between;
}

.jogosPrincipais {
  position: relative;
}
.jogosPrincipaisInstalar {
  position: absolute;
  bottom: 1px;
  left: 1px;
}

.jogosPrincipaisInstalar button {
  background-color: #0d0d0d;
  color: #fff;
  padding: 8px;
  text-transform: capitalize;
}

.noticias-top {
  display: flex;
  gap: 12px;
}

.noticias-top h2 {
  color: #fff;
}
